<!DOCTYPE html>
<html lang="zh-cmn-Hans" prefix="og: http://ogp.me/ns#" class="han-init">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/vendor/primer-css/css/primer.css">
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/components/collection.css">
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/components/repo-card.css">
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/sections/repo-list.css">
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/components/boxed-group.css">
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/globals/common.css">
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/globals/responsive.css">
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/posts/index.css">
    <!-- 添加 noindex 元标记 -->
    {% if page.url contains '/page' %}
    <meta name="robots" content="noindex, follow">
    {% endif %}

    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.title }}</title>
 

    {% if page.title %}
        <meta property="og:title" content="{{ page.title }}">
        {% if page.excerpt %}
        <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
        <meta name="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
        {% elsif page.description %}
        <meta name="description" content="{{ page.description | strip_html | strip_newlines | truncate: 160 }}">
        <meta name="og:description" content="{{ page.description | strip_html | strip_newlines | truncate: 160 }}">
        {% elsif content %}
        <meta name="description" content="{{ content | strip_html | strip_newlines | truncate: 160 }}">
        <meta name="og:description" content="{{ content | strip_html | strip_newlines | truncate: 160 }}">
        {% endif %}
    {% else %}
        <meta name="description" content="{{ site.description | truncate: 160 }}">
    {% endif %}
    {% if page.og_image_url %}
        <meta property="og:image" content="{{ page.og_image_url }}">
    {% elsif page.photo_url %}
        <meta property="og:image" content="{{ page.photo_url }}">
    {% endif %}
    <meta property="og:url" content="{{ site.url }}{{ page.url | remove_first:'index.html' }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="zh_CN" />
    {% if page.date %}
        <meta property="article:published_time" content="{{ page.date | date: '%Y-%m-%d' }}">
    {% endif %}


    <!-- 添加 noindex 元标记-->
    
    {% if site.cdn.jsdelivr.enabled %}
    {% assign highlight_base_url = 'https://fastly.jsdelivr.net/gh/mzlogin/rouge-themes@master/dist' %}
    {% endif %}
    <link rel="stylesheet" href="{{ highlight_base_url }}/{{ site.highlight_theme}}.css">
    {% if site.components.share.enabled %}
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/vendor/share.js/dist/css/share.min.css">
    {% endif %}
    {% if site.components.fancybox.enabled %}
    <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"/>
    {% endif %}
    <!-- Latest compiled and minified CSS -->
    {% for css in page.css %}
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/{{css}}">
    {% endfor %}

    {% if site.ios_app_name %}
       <meta name="apple-mobile-web-app-capable" content="yes">
       <meta name="apple-mobile-web-app-status-bar-style" content="black">
    {% endif %}
    <link rel="shortcut icon" href="{{ assets_base_url }}/favicon.ico">

    <script src="{{ assets_base_url }}/assets/vendor/jquery/dist/jquery.min.js"></script>

    {% if site.google.analytics_id %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google.analytics_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.google.analytics_id }}');
    </script>
    {% endif %}
    <script>
        (function(){
        var el = document.createElement("script");
        el.src = "https://lf1-cdn-tos.bytegoofy.com/goofy/ttzz/push.js?770370b7dda2ba0bf686f2e97949a918856922d09f63d83814cbe2a5c4a3458abc434964556b7d7129e9b750ed197d397efd7b0c6c715c1701396e1af40cec962b8d7c8c6655c9b00211740aa8a98e2e";
        el.id = "ttzz";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(el, s);
        })(window)
     </script>
</head>
<body class="{{ page.class }}" data-mz="{{ page.class }}">
    <header class="site-header">
        <div class="container">
            <button class="collapsed mobile-visible" type="button" onclick="toggleMenu();">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <nav class="site-header-nav" role="navigation">
                {% for nav in site.navs %}
                <a href="{{ site.url }}{{ nav.href }}" class="{% if nav.mobile-hidden %}mobile-hidden {% endif %}{% if page.menu == nav.label %}selected {% endif %}site-header-nav-item" target="{{ nav.target | default: _self }}" title="{{ nav.label }}">{{ nav.label }}</a>
                {% endfor %}
            </nav>
        </div>
    </header>
    <!-- / header -->
